In [2]:
import pandas as pd
sales = pd.read_csv('train2.csv')
sales['Order Date'] = pd.to_datetime(sales['Order Date'],format='%d/%m/%Y')
sales['Year'] = sales['Order Date'].dt.year
sales.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,部分,國家,城市,狀態,Postal Code,地區,Product ID,類別,子類別,產品名稱,Sales,Year
0,1,CA-2017-152156,2017-11-08,11/11/2017,Second Class,CG-12520,Claire Gute,消費者,美國,亨德森,肯塔基州,42420.0,南,FUR-BO-10001798,家具,書櫃,布什薩默塞特收藏書櫃,261.9600,2017
1,2,CA-2017-152156,2017-11-08,11/11/2017,Second Class,CG-12520,Claire Gute,消費者,美國,亨德森,肯塔基州,42420.0,南,FUR-CH-10000454,家具,椅子,Hon 豪華織物軟墊堆疊椅，圓背,731.9400,2017
2,3,CA-2017-138688,2017-06-12,16/06/2017,Second Class,DV-13045,Darrin Van Huff,公司的,美國,洛杉磯,加利福尼亞,90036.0,西方,OFF-LA-10000240,辦公用品,標籤,Universal 打字機不干膠地址標籤,14.6200,2017
3,4,US-2016-108966,2016-10-11,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,消費者,美國,勞德代爾堡,佛羅里達,33311.0,南,FUR-TA-10000577,家具,表,Bretford CR4500 系列超薄矩形桌,957.5775,2016
4,5,US-2016-108966,2016-10-11,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,消費者,美國,勞德代爾堡,佛羅里達,33311.0,南,OFF-ST-10000760,辦公用品,貯存,Eldon Fold 'N 滾動推車系統,22.3680,2016

In [3]:
sales['部分'].unique()

array(['消費者', '公司的', '在家辦公'], dtype=object)

In [4]:
sales1 = sales.groupby(['Year', '子類別', '部分'])['Sales'].sum().reset_index()
sales1

     Year 子類別    部分      Sales
0    2015  信封   公司的   1139.522
1    2015  信封  在家辦公    533.994
2    2015  信封   消費者   2171.074
3    2015  家電   公司的   5598.986
4    2015  家電  在家辦公   3043.067
..    ...  ..   ...        ...
199  2018  陳設  在家辦公   6755.166
200  2018  陳設   消費者  13439.304
201  2018  電話   公司的  26498.336
202  2018  電話  在家辦公  26922.920
203  2018  電話   消費者  51264.402

[204 rows x 4 columns]

In [5]:
sales2=sales1[(sales1['Year'] == 2018) & (sales1['部分'] == '公司的')].sort_values(by='Sales',ascending=False).nlargest(5,columns=['Sales'])
sales2

     Year  子類別   部分      Sales
192  2018   貯存  公司的  29102.422
168  2018   機器  公司的  27819.329
201  2018   電話  公司的  26498.336
162  2018   椅子  公司的  26442.561
171  2018  粘合劑  公司的  25356.147

In [6]:
sales3 = sales.groupby(['Year', '地區', '部分'])['Sales'].sum().reset_index()
sales3

    Year  地區    部分        Sales
0   2015  中央   公司的   19901.9422
1   2015  中央  在家辦公   16619.7548
2   2015  中央   消費者   66398.8236
3   2015   南   公司的   34569.3600
4   2015   南  在家辦公   36850.3120
5   2015   南   消費者   31955.2335
6   2015  東方   公司的   37391.1830
7   2015  東方  在家辦公   13922.9220
8   2015  東方   消費者   76338.7140
9   2015  西方   公司的   35935.0105
10  2015  西方  在家辦公   21708.9230
11  2015  西方   消費者   88264.0295
12  2016  中央   公司的   29079.7234
13  2016  中央  在家辦公   23683.1912
14  2016  中央   消費者   49662.2578
15  2016   南   公司的   17169.7220
16  2016   南  在家辦公    3786.1140
17  2016   南   消費者   49120.2465
18  2016  東方   公司的   42065.7250
19  2016  東方  在家辦公   26496.6960
20  2016  東方   消費者   84662.7620
21  2016  西方   公司的   31360.4285
22  2016  西方  在家辦公   20438.1120
23  2016  西方   消費者   81911.0270
24  2017  中央   公司的   59222.1178
25  2017  中央  在家辦公   20008.2290
26  2017  中央   消費者   66443.5332
27  2017   南   公司的   26694.8905
28  2017   南  在家辦公   13736.8070
29  2017   南   消費者   53104.2060
30  2017  東方   公司的   52729.3290
31  2017  東方  在家辦公   33402.1190
32  2017  東方   消費者   92380.0900
33  2017  西方   公司的   66330.9805
34  2017  西方  在家辦公   36925.1120
35  2017  西方   消費者   79215.1360
36  2018  中央   公司的   43827.7134
37  2018  中央  在家辦公   30093.7194
38  2018  中央   消費者   67705.9074
39  2018   南   公司的   42112.9020
40  2018   南  在家辦公   19529.1385
41  2018   南   消費者   60522.5270
42  2018  東方   公司的   63711.1880
43  2018  東方  在家辦公   51892.9590
44  2018  東方   消費者   94525.0390
45  2018  西方   公司的   86391.8590
46  2018  西方  在家辦公   55888.0680
47  2018  西方   消費者  105850.9985

In [7]:
sales4 = sales3[(sales3['Year'] == 2018)&(sales3['部分'] == '在家辦公')].sort_values(by='Sales',ascending=False)
sales4

    Year  地區    部分       Sales
46  2018  西方  在家辦公  55888.0680
43  2018  東方  在家辦公  51892.9590
37  2018  中央  在家辦公  30093.7194
40  2018   南  在家辦公  19529.1385

In [10]:
sales['類別'].unique()

array(['家具', '辦公用品', '技術'], dtype=object)

In [13]:
sales5 = sales.groupby(['Year', '類別', '部分'])['Sales'].sum().reset_index()
sales5.head()

   Year  類別    部分       Sales
0  2015  家具   公司的  45031.5707
1  2015  家具  在家辦公  25701.0168
2  2015  家具   消費者  85745.2936
3  2015  技術   公司的  34022.8440
4  2015  技術  在家辦公  45272.8040

In [16]:
sales_furniture = sales5[(sales5['Year']==2018) & (sales5['部分']=='公司的') & (sales5['類別']=='家具')]['Sales']
sales_furniture

27    58771.2044
Name: Sales, dtype: float64

In [17]:
sales_office = sales5[(sales5['Year']==2018) & (sales5['部分']=='公司的') & (sales5['類別']=='辦公用品')]['Sales']
sales_office

33    90033.397
Name: Sales, dtype: float64

In [18]:
sales_technology = sales5[(sales5['Year']==2018) & (sales5['部分']=='公司的') & (sales5['類別']=='技術')]['Sales']
sales_technology

30    87239.061
Name: Sales, dtype: float64