In [1]:
print("Hello! World!")

Hello! World!

In [2]:
import plotly.express as px
long_df = px.data.medals_long()
long_df

        nation   medal  count
0  South Korea    gold     24
1        China    gold     10
2       Canada    gold      9
3  South Korea  silver     13
4        China  silver     15
5       Canada  silver     12
6  South Korea  bronze     11
7        China  bronze      8
8       Canada  bronze     12

In [3]:
import plotly.express as px
wide_df = px.data.medals_wide()
wide_df

        nation  gold  silver  bronze
0  South Korea    24      13      11
1        China    10      15       8
2       Canada     9      12      12