In [2]:
from dash import Dash, Input, Output, callback, dash_table
import pandas as pd
import dash_bootstrap_components as dbc

df = pd.read_csv('https://git.io/Juf1t')
df

,State,Number of Solar Plants,Installed Capacity (MW),Average MW Per Plant,Generation (GWh)
0,California,289,4395,15.3,10826
1,Arizona,48,1078,22.5,2550
2,Nevada,11,238,21.6,557
3,New Mexico,33,261,7.9,590
4,Colorado,20,118,5.9,235
5,Texas,12,187,15.6,354
6,North Carolina,148,669,4.5,1162
7,New York,13,53,4.1,84

In [3]:
from collections import OrderedDict
data = OrderedDict(
     [
        ("Date", ["2015-01-01", "2015-10-24", "2016-05-10", "2017-01-10", "2018-05-10", "2018-08-15"]),
        ("Region", ["Montreal", "Toronto", "New York City", "Miami", "San Francisco", "London"]),
        ("Temperature", [1, -20, 3.512, 4, 10423, -441.2]),
        ("Humidity", [10, 20, 30, 40, 50, 60]),
        ("Pressure", [2, 10924, 3912, -10, 3591.2, 15]),
    ]
)

odict_items([('Date', ['2015-01-01', '2015-10-24', '2016-05-10', '2017-01-10', '2018-05-10', '2018-08-15']), ('Region', ['Montreal', 'Toronto', 'New York City', 'Miami', 'San Francisco', 'London']), ('Temperature', [1, -20, 3.512, 4, 10423, -441.2]), ('Humidity', [10, 20, 30, 40, 50, 60]), ('Pressure', [2, 10924, 3912, -10, 3591.2, 15])])