In [1]:
import pandas as pd
sales = pd.read_csv('train2.csv')
sales['Order Date'] = pd.to_datetime(sales['Order Date'],format='%d/%m/%Y')
sales['Year'] = sales['Order Date'].dt.year
sales.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,部分,國家,城市,狀態,Postal Code,地區,Product ID,類別,子類別,產品名稱,Sales,Year
0,1,CA-2017-152156,2017-11-08,11/11/2017,Second Class,CG-12520,Claire Gute,消費者,美國,亨德森,肯塔基州,42420.0,南,FUR-BO-10001798,家具,書櫃,布什薩默塞特收藏書櫃,261.9600,2017
1,2,CA-2017-152156,2017-11-08,11/11/2017,Second Class,CG-12520,Claire Gute,消費者,美國,亨德森,肯塔基州,42420.0,南,FUR-CH-10000454,家具,椅子,Hon 豪華織物軟墊堆疊椅，圓背,731.9400,2017
2,3,CA-2017-138688,2017-06-12,16/06/2017,Second Class,DV-13045,Darrin Van Huff,公司的,美國,洛杉磯,加利福尼亞,90036.0,西方,OFF-LA-10000240,辦公用品,標籤,Universal 打字機不干膠地址標籤,14.6200,2017
3,4,US-2016-108966,2016-10-11,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,消費者,美國,勞德代爾堡,佛羅里達,33311.0,南,FUR-TA-10000577,家具,表,Bretford CR4500 系列超薄矩形桌,957.5775,2016
4,5,US-2016-108966,2016-10-11,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,消費者,美國,勞德代爾堡,佛羅里達,33311.0,南,OFF-ST-10000760,辦公用品,貯存,Eldon Fold 'N 滾動推車系統,22.3680,2016

In [3]:
sales['部分'].unique()

array(['消費者', '公司的', '在家辦公'], dtype=object)

In [3]:
sales1 = sales.groupby(['Year', '子類別', '部分'])['Sales'].sum().reset_index()
sales1

     Year 子類別    部分      Sales
0    2015  信封   公司的   1139.522
1    2015  信封  在家辦公    533.994
2    2015  信封   消費者   2171.074
3    2015  家電   公司的   5598.986
4    2015  家電  在家辦公   3043.067
..    ...  ..   ...        ...
199  2018  陳設  在家辦公   6755.166
200  2018  陳設   消費者  13439.304
201  2018  電話   公司的  26498.336
202  2018  電話  在家辦公  26922.920
203  2018  電話   消費者  51264.402

[204 rows x 4 columns]

In [7]:
sales2 = sales1[(sales1['Year'] == 2018)&(sales1['部分'] == '在家辦公')].sort_values(by='Sales',ascending=False).nlargest(5,columns=['Sales'])
sales2

     Year  子類別    部分       Sales
202  2018   電話  在家辦公  26922.9200
190  2018  複印機  在家辦公  23079.7700
184  2018    表  在家辦公  17450.8865
163  2018   椅子  在家辦公  16568.9310
193  2018   貯存  在家辦公  16177.3760